<!DOCTYPE html>
<html>
  <head>
    <title>document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
 <div class="main w-full min-h-screen bg-zinc-900 text-white">
  <div class="form px-10 py-10">
   <form action="/create" method="post">
    <input class="block w-full px-5 py-2 border-none rounded-md bg-zinc-800 " type="text" placeholder="New task" name="name">
    <textarea class="block w-full px-5 py-2 resize-none border-none rounded-md bg-zinc-800 mt-2" placeholder="Write from here ...." name="content"></textarea>
    <input type="submit" class="w-40 rounded-md mt-2 p-2 bg-emerald-600" value="Create task">
    
   </form>
  </div>
  <div class="tasks flex gap-4 flex-wrap px-10 py-10 ">
    <% if(files.length > 0){ %>
      <% files.forEach(function(file){ %>
          <div class="task  w-72 p-3 bg-zinc-800 rounded-lg">
          <h3 class="text-3xl tracking-tighter mb-3"><%= file.name%></h3>
         <p><% if(file.content.length > 16){%>
                <%= file.content.substring(0,15) +"..." %>
        <% } else{ %>
               <%= file.content %>
          <% } %></p>

         <a href="/read/<%= file.name%>" class="text-blue-500 mt-5 inline-block"> Read more</a>
         <a href="/delete/<%= file.name%>" class="text-red-500 ml-9 gap-4 mt-5 inline-block">Delete</a>
        </div> 
     <% }) %>
   <% } else{ %>
    <h3 class="text-xl text-white">No tasks yet</h3>

   <% } %>
    
  </div>
 </div>
  </body>
</html>
